  <h1>   List a new place </h1>
<%= form_with :model => @place do |form| %>

  
  <p>
    <%= form.label "Name of Location" %>
    <%= form.text_field "name" %>
  </p>
  
  <%= form.submit %>
<% end %>

<p>
<a href="/places/"> Go back to Places main page </a>
</p>